.recip-container{
    width:500px;
    margin-top:3%;
    box-shadow:5px 10px lightslategray ;
    background-color: white;
    text-align: center;
}
.imgs{
    border-radius:50%;
}
li{
    text-align: left;
}
